@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@700&family=Archivo:wght@300&family=Dosis:wght@300&family=KoHo:ital,wght@1,300&family=Orbitron&family=Roboto+Slab:wght@200;500&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000000;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(73, 73, 73);
  z-index: 1;
  background: black;
}
input {
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
}
.searchbutton {
  padding: 0.5rem 0.3rem;
  margin-left: 10px;
  font-size: 0.7vw;
  cursor: pointer;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.cleanbutton {
  padding: 0.5rem 0.3rem;
  margin-left: 10px;
  font-size: 0.7vw;
  cursor: pointer;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.next {
  position: fixed;
  top: 95%;
  right: 0%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 100px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.next2{
  position: fixed;
  top: 95%;
  right: 0%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 100px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.next3{
  position: fixed;
  top: 95%;
  right: 0%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 100px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.miniaturas {
  position: fixed;
  top: 30%;
  right: 0%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 15vw;
  color: aliceblue;
}
.miniaturas2 {
  position: fixed;
  top: 30%;
  right: 0%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 15vw;
  color: aliceblue;
}
.miniaturas3 {
  position: fixed;
  top: 30%;
  right: 0%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 15vw;
  color: aliceblue;
}
.miniaturas4 {
  width: 100vw;
}
.miniaturasImg img {
  float: left;
  margin: 10px;
  width: 100px;
  height: auto;
}
.save{
  position: fixed;
  top: 90%;
  right: 0%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 100px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.save2{
  position: fixed;
  top: 85%;
  right: 0%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 100px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.save3{
  position: fixed;
  top: 85%;
  right: 0%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 100px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.botonInicio{
  position: fixed;
  top: 50%;
  left:45%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 200px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.introToBuscar1 {
  position: fixed;
  top: 50%;
  left:45%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(255, 255, 255);
  width: 200px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.introParte2ToBuscar2 {
  position: fixed;
  top: 50%;
  left:45%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(253, 251, 251);
  width: 200px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.introParte3ToBuscar3 {
  position: fixed;
  top: 50%;
  left:45%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(253, 251, 251);
  width: 200px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.introParte4ToFinal {
  position: fixed;
  top: 50%;
  left:45%;
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(253, 251, 251);
  width: 200px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
  font-family: 'Noto Sans', sans-serif;
}
.gallery{
  width: 90%;
  margin: 12vh 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(5, 200px);
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
}
.gallery2{
  width: 90%;
  margin: 12vh 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(5, 200px);
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
}
.gallery3{
  width: 90%;
  margin: 12vh 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(5, 200px);
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
}
.gallery div {
  position: relative;
}
img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
p {
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
  bottom: 5px;
  color: aliceblue;
}
p.first {
  position: relative;
  margin-left: 5px;
  margin-top: 15px;
  bottom: 5px;
  color: aliceblue;
}
a {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  color: aliceblue;
  margin-left: 10px;
}




//Checkboxes
input[type="checkbox"][id^="${checkboxID}"] {
  display: none;
}

label {
  border: 1px solid #fff;
  display: block;
  position: relative;
  cursor: pointer;
  height: 300px;
  width: 200px;
}

label:before {
  background-color: white;
  color: aliceblue;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 300px;
  width: 200px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  color: aliceblue;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}

#inicio {
  height: 100vh;
  text-align: center;
  color: aliceblue;
  font-family: 'Archivo Black', sans-serif;
  background-image: url('https://i1.wp.com/www.fg-a.com/wallpapers/2020-black-crystalline-peaks-image.jpg');
}
.hidden {
  display: none;
}


///// Texto animado inicio
.words {
  color: #020202;
  font-size: 0;
  line-height: 1.5;
}

.words span {
  font-size: 10rem;
  display: inline-block;
  animation: move 5s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(252, 250, 250, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.4s;
}

.words span:nth-child(3) {
  animation-delay: 0.8s;
}

.words span:nth-child(4) {
  animation-delay: 1.2s;
}

.words span:nth-child(5) {
  animation-delay: 1.6s;
}

.words span:nth-child(6) {
  animation-delay: 2.0s;
}

.words span:nth-child(7) {
  animation-delay: 2.4s;
}
.words span:nth-child(8) {
  animation-delay: 2.8s;
}
.words span:nth-child(9) {
  animation-delay: 3.2s;
}
.words span:nth-child(10) {
  animation-delay: 3.6s;
}
.words span:nth-child(11) {
  animation-delay: 4s;
}
.words span:nth-child(12) {
  animation-delay: 4.3s;
}
.words span:nth-child(13) {
  animation-delay: 4.6s;
}
.words span:nth-child(14) {
  animation-delay: 5s;
}

// .introText {
//   width: 80%;
//   height: 40%;
//   /*IMPORTANTE*/
//   display:grid;
//   justify-content: center;
//   align-items: center;
// }
#intro {
  height: 100vh;
 background-image: url('https://i.ytimg.com/vi/IclwFVoYRK0/maxresdefault.jpg');
 background-repeat: no-repeat; 
  background-size: cover;
}
#introParte2 {
  height: 100vh;
 background-image: url('https://cdn.wallpapersafari.com/8/10/XesyDn.jpg');
 background-repeat: no-repeat; 
  background-size: cover;
}
#introParte3 {
  height: 100vh;
 background-image: url('https://images.freeimages.com/images/large-previews/f8b/thick-smoke-on-black-background-1633270.jpg');
 background-repeat: no-repeat; 
  background-size: cover;
}
#introParte4 {
  height: 100vh;
 background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWeDaU0LNPj4n4-lBRLPZc_KdR3vZXPzGS4w&usqp=CAU');
 background-repeat: no-repeat; 
  background-size: cover;
}
#galeriaFinal {
  height: 100vh;
 background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWeDaU0LNPj4n4-lBRLPZc_KdR3vZXPzGS4w&usqp=CAU');
 background-repeat: no-repeat; 
  background-size: cover;
}
#palabrasFinales {
  background-image: url('https://image.winudf.com/v2/image/Y29tLlBSSVNTSS5XYWxscGFwZXIuQmxhY2suQmxhY2tCYWNrZ3JvdW5kV2FsbHBhcGVySERfc2NyZWVuXzJfMTUyOTQ1MzU1N18wMjI/screen-2.jpg?fakeurl=1&type=.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  text-align: center;
}
p.introCita {
  padding-top: 30px;
  font-size: 2.8vw;
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  font-family: 'Staatliches', cursive;
}
p.introCita2 {
  font-size: 2vw;
  color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  font-family: 'Staatliches', cursive;
}
p.textoIntro {
  font-size: 1.8vw;
  padding-top: 40px;
  color: aliceblue;
  margin-left: auto;
  margin-right: 20px;
  width: 20em;
  text-align: right;
  font-family: 'Dosis', sans-serif;
}


//Hover buttons effect
.hoverEffects::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.hoverEffects:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hoverEffects:hover {
  color: #000000;
}
.hoverEffects::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #ddd;
  z-index: -1;
  transition: transform .3s ease;
}

/////imagenes finales

.imagenesFinales img {
  float: left;
  height: 100vh;
  width: 10vw;
}

.contadorNum {
  float: right;
  color: coral;
  font-size: 20vw;
}