*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  overflow-x: hidden;
  background: black;
}
.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
  background: black;
}
input {
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
}
.searchbutton {
  padding: 0.5rem 0.3rem;
  margin-left: 10px;
  background: cornflowerblue;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
}
.cleanbutton {
  padding: 0.5rem 0.3rem;
  margin-left: 10px;
  background: cornflowerblue;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
}
.metbutton {
  padding: 0.5rem 0.3rem;
  margin-left: 10px;
  background: cornflowerblue;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
}
.next{
  position: fixed;
  top: 90%;
  right: 0%;
  padding: 0.5rem 0.5rem;
  border: 1px solid whitesmoke;
  width: 100px;
  text-align: center;
  cursor: pointer;
  color: aliceblue;
}
.gallery{
  width: 90%;
  margin: 12vh 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(5, 200px);
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}
.gallery div {
  position: relative;
}
img {
  margin-left: 5px;
  height: 300px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
p {
  position: relative;
  margin-left: 10px;
  margin-top: 5px;
  bottom: 5px;
  color: azure;
}
a {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  color: azure;
  margin-left: 10px;
  font-weight: bold;
}