@font-face {
  font-family: 'MostWazted';
  src: url('MostWazted.svg#MostWazted') format('svg'),
       url('MostWazted.ttf') format('truetype'),
       url('MostWazted.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mostwasted';
  src: url('Mostwasted.eot');
  src: url('Mostwasted.eot?#iefix') format('embedded-opentype'),
       url('Mostwasted.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

